@media only screen and (min-width: 300px) and (max-width: 480px) {
  .select-student {
    display: grid;
    place-items: center;

    padding: 0;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 30;
  }
  .select-student > form {
    display: grid;
    place-items: center;
    grid-template-rows: 4fr 1fr 4fr;

    width: 100%;
    height: 100%;

    background-color: var(--primary-color);
  }
  .x-button {
    display: grid;
    place-items: center;

    width: calc(var(--vh, 1vh) * 12);
    height: calc(var(--vh, 1vh) * 6);

    margin: 2%;

    color: #fff;

    position: absolute;
    top: 0;
    right: 0;
  }
  .select-student > form > label {
    font-size: 1.4rem;
    color: #fffe;
  }
  .select-student > form > select {
    width: 60%;

    text-align: center;
    font: 1.4rem;

    background-color: var(--primary-color);
    color: #fffe;
  }
  .select-student > form > select:focus {
    background-color: var(--primary-color);
    color: #fffe;
  }
  .select-student > form > select option {
    background-color: var(--primary-color);
    color: #ffe;
    font-weight: var(--bold);
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .select-student {
    display: grid;
    place-items: center;

    width: 40%;
    height: 40%;

    margin: auto;
    padding: 0;
    border: 1px solid var(--platinum-color);
    border-radius: 8px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 30;
  }
  .select-student > form {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 4fr;

    width: 100%;
    height: 100%;

    padding: 4% 0;
    border-radius: 8px;

    background-color: var(--primary-color);
  }
  .select-student > form > label {
    font-size: 1.4rem;
    color: #fffe;
  }
  .select-student > form > select {
    width: 60%;

    text-align: center;
    font: 1.4rem;

    background-color: var(--primary-color);
    color: #fffe;
  }
  .select-student > form > select:focus {
    background-color: var(--primary-color);
    color: #fffe;
  }
  .select-student > form > select option {
    background-color: var(--primary-color);
    color: #ffe;
    font-weight: var(--bold);
  }
}
