@media only screen and (min-width: 300px) and (max-width: 480px) {
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .delete-button {
    display: grid;
    place-items: center;

    width: 10%;
    height: 10%;

    position: absolute;
    bottom: 0;
    left: 0;
  }
  .delete-button > button {
    color: var(--platinum-color);
    background-color: red;
    border-color: transparent;
    border-radius: 8px;
    font-size: 0.7rem;
  }
}
