.links {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  height: 40vh;
  width: 40vw;

  background-color: var(--primary-color);
  color: #fffe;

  margin: auto;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 10;
}
.link {
    display: grid;
    place-items: center;

    width: 80%;
    height: 60%;


}
