@media only screen and (min-width: 300px) and (max-width: 480px) {
  .user-page {
    display: grid;
    place-items: center;

    width: 100%;
    height: 100%;

    color: #fffe;

    background: linear-gradient(#0008, #000e), url(/backgrounds/doodle.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .user-page {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 4fr;

    width: 100%;
    height: 100%;

    padding: 2%;

    color: #fffe;

    background: linear-gradient(#0008, #000e), url(/backgrounds/doodle.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
}
