@media only screen and (min-width: 300px) and (max-width: 480px) {
  .user-profile-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2%;

    width: 100%;
    height: calc(var(--vh, 1vh) * 95);

    padding: 4%;

    background-image: url("/14.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .user-profile-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2%;

    width: 100%;
    height: calc(var(--vh, 1vh) * 95);

    padding: 8% 20%;

    background-image: url("/14.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
}
