.nav-mobile-menu {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 10fr 1fr;

  width: 100%;
  height: 100%;

  padding: 12% 0 0% 0;

  background-color: var(--primary-color);
  color: #fffe;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 60;

  transition: all ease 0.4s;
}
.brand-logo {
  display: grid;

  width: 60%;
  height: 100%;

  border-bottom: 2px solid var(--secondary-color);

  position: relative;
}
.image-wrapper {
  position: relative;
}
.links {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);

  width: 100%;
  height: 80%;
}
.links > a:first-of-type {
  color: var(--secondary-color);
}
.links > a {
  font-size: 1.4rem;
}
.mobile-menu-buttons {
  display: flex;
  justify-content: space-between;

  width: 80%;
  height: 100%;

}
.mobile-menu-buttons > button {
  height: 60%;
  width: 20%;

  border: none;
  border-bottom: 1px solid var(--secondary-color);

  background-color: var(--primary-color);
  color: #fffe;

  font-size: 0.8rem;
  letter-spacing: 0.1rem;

  z-index: 60;
}
.sub-links {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2%;

  width: 100%;
  height: 100%;
}

.top-0 {
  top: 0%;
}
.top-100 {
  top: 100%;
}
