@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
/* * font-family: 'Poppins', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* * font-family: 'Lato', sans-serif; */

:root {
  --primary-color: #1d1d1d;
  --transparent-primary-color: #1d1d1de8;
  --secondary-color: #faed26;
  --transparent-secondary-color: #faed26e4;
  --silver-color: #d0d0d0;

  --platinum-color: #dce1de;
  --smoky-black: #121212;

  --bold: 900;
  --normal: 700;
  --light: 400;

  --transition-speed: 0.4s;
  --transition-speed-responsive-mobile-menu: 1s;
}

* {
  margin: 0;

  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

li {
  list-style: none;
}
button.button {
  border: 2px solid #fffe;

  background-color: var(--primary-color);
  color: #fffe;

  transition: all ease var(--transition-speed);
}
button.button:hover {
  color: var(--primary-color);
  background-color: #fffe;
}

.invisible {
  visibility: hidden;
}
.bold {
  font-weight: var(--bold);
}

.navbar-toggler {
  box-shadow: none !important;
}
.dropdown-toggle {
  color: var(--secondary-color) !important;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  main#main {
    display: block;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 89);

    margin-bottom: calc(var(--vh, 1vh) * 11);
  }
  main#main::-webkit-scrollbar {
    width: 0.25rem;
  }
  main#main::-webkit-scrollbar-track {
    background: var(--primary-color);
  }
  main#main::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  main#main {
    display: block;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 95);

    margin-top: calc(var(--vh, 1vh) * 5);

    overflow: scroll;
    overflow-x: hidden;
  }
  main#main::-webkit-scrollbar {
    width: 0.25rem;
  }
  main#main::-webkit-scrollbar-track {
    background: var(--primary-color);
  }
  main#main::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
  }
}

.scroll {
  overflow: scroll;
  overflow-x: hidden;
}
.scroll::-webkit-scrollbar {
  width: 0.25rem;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  .scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  .scroll::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .scroll::-webkit-scrollbar-track {
    background: var(--primary-color);
  }
  .scroll::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
  }
}
