@media only screen and (min-width: 300px) and (max-width: 480px) {
  .reset-password-info {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(4, 1fr);

    width: 100%;
    height: 100%;

    margin: auto;

    background-color: #000e;
    color: #fffe;
  }
  .reset-password-info > div:first-of-type {
    font-size: 1.4rem;
  }
  .reset-password-info > div:nth-child(2) {
    display: grid;

    width: 70%;
  }
  .reset-password-info > div:last-of-type {
    display: grid;

    width: 70%;
  }
  .reset-password-info > button {
    padding: 1% 4%;
  }
  .reset-password-info label {
    font-size: 1.2rem;
    transform: translateY(-30%);
  }
  .reset-password-info input {
    transform: translateY(-30%);

    padding: 0 4%;
    border: 1px solid #fff;
    border-radius: 6px;

    background-color: var(--primary-color);
    color: #fffe;

    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .reset-password-info {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(4, 1fr);

    width: 100%;
    height: 100%;

    margin: auto;
    padding: 10% 30%;

    background-color: #000e;
    color: #fffe;
  }
  .reset-password-info > div:first-of-type {
    font-size: 1.4rem;
  }
  .reset-password-info > div:nth-child(2) {
    display: grid;

    width: 70%;
  }
  .reset-password-info > div:last-of-type {
    display: grid;

    width: 70%;
  }
  .reset-password-info > button {
    padding: 1% 4%;
  }
  .reset-password-info label {
    font-size: 1.2rem;
    transform: translateY(-30%);
  }
  .reset-password-info input {
    transform: translateY(-30%);

    padding: 0 4%;
    border: 1px solid #fff;
    border-radius: 6px;

    background-color: var(--primary-color);
    color: #fffe;

    font-size: 1.2rem;
  }
}
