@media only screen and (min-width: 300px) and (max-width: 480px) {
  .container {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 100%;

    margin: auto;
    padding: 1% 10%;
    border-color: var(--silver-color);

    background-color: var(--primary-color);
    color: #fffe;
  }
  .title {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 100%;
  }
  .title > span {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
  }
  .title > span:last-of-type {
    border-bottom: 1px solid #fffe;
  }
  .container > select {
    width: 100%;
    height: 40%;

    font-size: 0.8rem;

    transition: all ease 0.4s;
  }
  .container > select > option {
    text-align: center;
  }
  .container > button {
    padding: 1% 12%;
    border: 1px solid red;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .container {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 100%;

    padding: 1% 10%;
    border-color: var(--silver-color);

    background-color: var(--primary-color);
    color: #fffe;
  }
  .title {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 100%;
  }
  .title > span {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 1px solid #fffe;
  }
  .container > select {
    width: 100%;
    height: 40%;

    font-size: 0.6rem;

    transition: all ease 0.4s;
  }
  .container > select:hover {
    transform: translateX(-40%) scale(2.2);
  }
  .container > select > option {
    text-align: center;
  }
  .container > button {
    padding: 1% 12%;
  }
}
