@media only screen and (min-width: 300px) and (max-width: 480px) {
  .teacher-page {
    display: grid;

    width: 100%;
    height: 100%;

    background-image: url("/14.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
  .sidebar-toggler {
    display: grid;
    place-items: center;

    width: 5vh;
    height: 5vh;

    margin: 4%;
    border: 4px solid var(--secondary-color);
    border-radius: 50%;

    box-shadow: 0 0 2px 4px var(--primary-color);
    background-color: var(--primary-color);
    color: #fff;

    position: fixed;
    bottom: 5vh;
    right: 0;

    z-index: 20;

    animation: animate-toggler infinite 2s;
  }
  .sidebar-toggler > svg {
    width: 80%;
    height: 80%;
  }
  .upside-down {
    transform: rotate(180deg);
  }

  @keyframes animate-toggler {
    0% {
      transform: translateY(-10%);
    }
    50% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(-10%);
    }
  }

}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .teacher-page {
    display: grid;
    grid-template-columns: 8fr 1fr;

    background-image: url("/14.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
}
