@media only screen and (min-width: 300px) and (max-width: 480px) {
  .lesson-history {
    display: grid;
    gap: 10%;

    width: 100%;
    height: 95vh;

    padding: 6% 0 16% 0;

    overflow: scroll;
    overflow-x: hidden;

    z-index: 5;
  }
  .lesson {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 2%;

    width: 84%;

    margin: 0 auto;
    padding: 8% 4%;

    color: #fffe;

    background-color: #0008;
    backdrop-filter: blur(20px);

    transition: all ease 0.4s;
  }
  .lesson:nth-of-type(2n) {
    transform: translateX(4%);
  }
  .lesson:nth-of-type(2n-1) {
    transform: translateX(-4%);
  }
  .date {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    width: 40%;
    height: 100%;

    padding: 2% 0;

    background-color: var(--primary-color);
    color: #fffe;

    transform: translateY(-20%);
  }
  .month {
    font-size: 1rem;
  }
  .year {
    font-size: 0.6rem;
  }
  .day {
    font-size: 1rem;

    width: 50%;

    border-color: var(--secondary-color);
  }
  .lesson-details {
    display: grid;

    width: 100%;
    height: 120%;
  }
  .detail {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;
  }
  .detail > label {
    width: 100%;

    font-size: 0.8rem;
    text-align: start;
  }
  .detail > div {
    width: 100%;
    height: 100%;

    padding: 0 2%;
    border-left: 1px solid var(--transparent-secondary-color);
    border-bottom: 1px solid var(--transparent-secondary-color);
    border-bottom-left-radius: 8px;

    font-size: 0.8rem;
    text-align: start;
  }
  .lesson-count {
    display: grid;
    place-items: center;

    width: 10%;
    height: 10%;

    box-shadow: none;
    border: none;

    color: #fff;
    text-shadow: 0 0 2px #000;

    position: absolute;
    top: 0;
    right: 0;

    transition: all ease 0.4s;
  }
  .only-one {
    height: 50vh;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .lesson-history {
    display: grid;
    gap: 4%;

    width: 100%;
    height: 95vh;

    padding: 4%;

    overflow: scroll;
    overflow-x: hidden;

    z-index: 5;
  }
  .lesson {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2%;

    height: 24vh;
    width: 70%;

    margin: 0 auto;
    padding: 1% 2%;

    color: #fffe;

    background-color: #0008;
    backdrop-filter: blur(20px);

    transition: all ease 0.4s;
  }
  .lesson:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 20px 10px var(--primary-color);
  }
  .lesson:nth-of-type(2n) {
    transform: translateX(4%);
  }
  .lesson:nth-of-type(2n-1) {
    transform: translateX(-4%);
  }
  .date {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    width: 80%;
    height: 80%;

    padding: 10% 0;

    background-color: var(--primary-color);
    color: #fffe;
  }
  .month {
    font-size: 1rem;
    font-weight: var(--bold);
  }
  .year {
    font-size: 0.6rem;
  }
  .day {
    font-size: 1rem;
    font-weight: var(--bold);

    width: 50%;

    border-color: var(--secondary-color);
    box-shadow: 0 0 4px 2px var(--secondary-color);
  }
  .lesson-details {
    display: grid;

    width: 100%;
    height: 100%;
  }
  .detail {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 8fr;
  }
  .detail > label {
    width: 100%;

    padding: 0 12%;
    font-size: 0.8rem;
    text-align: end;
  }
  .detail > div {
    width: 100%;

    padding: 0 2%;
    border-left: 1px solid var(--transparent-secondary-color);
    border-bottom: 1px solid var(--transparent-secondary-color);
    border-bottom-left-radius: 8px;

    font-size: 1rem;
    text-align: start;
  }
  .lesson-count {
    display: grid;
    place-items: center;

    height: 3vh;
    width: 6vw;

    background-color: var(--secondary-color);
    color: #000;

    position: absolute;
    top: 0;
    right: 0;

    opacity: 0;

    transition: all ease 0.4s;
  }
  .lesson:hover .lesson-count {
    transform: translate(30%, -30%) rotate(20deg);

    opacity: 1;
  }
}
