@media only screen and (min-width: 300px) and (max-width: 480px) {
  .nav {
    display: grid;
    place-items: center;

    width: 100%;
    height: calc(var(--vh, 1vh) * 5);

    background-color: var(--primary-color);
    color: #fff;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    z-index: 30;
  }
  
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    width: 100%;
    height: calc(var(--vh, 1vh) * 5);

    background-color: var(--primary-color);
    color: #fff;

    z-index: 30;
  }
}
