.brand-logo {
  display: grid;
  place-items: center;

  height: 100%;
  width: 100%;

  border-radius: 300px;

  transform: scale(.6);
}
.image-wrapper {
  width: 100%;
  height: 100%;

  position: relative;
}
