.request-password-reset {
  display: grid;
  place-items: center;

  margin: auto;

  border: 1px solid #fffe;
  border-radius: 8px;

  background-color: var(--primary-color);
  color: #fffe;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 30;
}
.request-password-reset input {
  background-color: var(--primary-color);
  color: #fffe;
}
.request-password-reset > button {
  padding: 1% 6%;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  .request-password-reset {
    width: 90%;
    height: 70vh;
  }
  .request-password-reset > div:last-of-type {
    transform: scaleX(1.2);
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .request-password-reset {
    width: 50%;
    height: 70vh;
  }
  .request-password-reset > div:first-of-type {
    font-size: 1.4rem;
  }
  .request-password-reset > div:last-of-type {
    width: 60%;
    transform: translateY(-20%) scale(1.2);
  }
}
