.reset-password-info {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(4,1fr);

    width: 40%;
    height: 60vh;

    margin: auto;

    border: 1px solid #fffe;
    border-radius: 8px;

    background-color: var(--primary-color);
    color: #fffe;

    box-shadow: 0 0 10px 4px #fffe;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}
.reset-password-info > div:first-of-type {
    font-size: 1.4rem;
}
.reset-password-info> div:nth-child(2) {    
    display: grid;

    width: 70%;
}
.reset-password-info > div:last-of-type {
    display: grid;

    width: 70%;
}
.reset-password-info > button {
    padding: 1% 4%;
}
.reset-password-info label {
    font-size: 1.2rem;
    transform: translateY(-30%);
}
.reset-password-info input {
    transform: translateY(-30%);
    
    padding: 0 4%;
    border: 1px solid #fff;
    border-radius: 6px;

    background-color: var(--primary-color);
    color: #fffe;

    font-size: 1.2rem;

}



