.auth-menu {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}
.auth-menu > button {
  display: grid;
  place-items: center;

  width: auto;

  margin: auto;
  padding: 0 8%;

  text-transform: capitalize;
}
