@media only screen and (min-width: 300px) and (max-width: 480px) {
  .side-bar {
    display: grid;
    grid-template-rows: 2fr 1fr 3fr 2fr;
    gap: 2%;

    grid-column: 2;

    width: 100%;
    height: calc(var(--vh, 1vh) * 95);

    padding: 4% 8%;
    border-left: 2px solid var(--primary-color);

    background-color: #0009;
    box-shadow: 0 0 60px 40px var(--primary-color);

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 20;

    transition: all ease 0.4s;
  }

  .chosen-student {
    display: grid;
    place-items: center;

    width: 100%;
    height: 100%;

    padding: 1% 10%;
    border-color: var(--silver-color);

    background-color: var(--primary-color);
    color: #fffe;

    font-size: 1rem;
    text-transform: capitalize;
  }

  .top-0 {
    top: 0%;
  }
  .top-100 {
    top: 100%;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .side-bar {
    display: grid;
    grid-template-rows: 2fr 1fr 3fr 5fr;
    gap: 2%;

    grid-column: 2;

    width: 100%;
    height: calc(var(--vh, 1vh) * 95);

    padding: 8%;
    border-left: 2px solid var(--primary-color);

    box-shadow: 0 0 60px 40px var(--primary-color);

    z-index: 5;
  }

  .chosen-student {
    display: grid;
    place-items: center;

    width: 100%;
    height: 100%;

    padding: 1% 10%;
    border-color: var(--silver-color);

    background-color: var(--primary-color);
    color: #fffe;

    font-size: 1rem;
    text-transform: capitalize;
  }
}
