@media only screen and (min-width: 300px) and (max-width: 480px) {
  .form {
    display: grid;
    place-items: center;

    width: 84%;
    height: 90%;

    margin: auto;

    background-color: var(--primary-color);
    color: #fffe;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 20;

    transform: translateY(-2%);
  }
  .title {
    font-size: 0.8rem;
    font-weight: var(--bold);

    transform: translateY(30%);
  }
  .engpot-credits {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;
    gap: 2%;


    margin: 2%;
    padding: 1% 2%;

    position: absolute;
    top: 0;
    right: 0;

    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: 2px 2px 2px var(--secondary-color);
  }
  .engpot-credits > span {
    font-size: 0.6rem;
  }
  .input-container {
    display: grid;
    grid-template-rows: 1fr 1fr;

    width: 80%;
  }
  .input-container > label {
    font-size: .8rem;
  }
  .input-container > input {
    padding: 0 4%;
    border: 1px solid #fff;
    border-radius: 6px;

    background-color: var(--primary-color);
    color: #fffe;

    font-size: .8rem;
  }
  .date-time > input {
    text-align: center;
  }
  .input-container > select {
    padding: 0 4%;
    border: 1px solid #fff;
    border-radius: 6px;

    background-color: var(--primary-color);
    color: #fffe;

    font-size: .8rem;
    text-align: center;
    text-transform: capitalize;
  }
  .form > button {
    margin-bottom: 2%;
    padding: 0.8% 6%;

    font-size: .8rem;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .form {
    display: grid;
    place-items: center;

    width: 60%;
    height: 80%;

    margin: auto;

    background-color: var(--primary-color);
    color: #fffe;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 20;
  }
  .title {
    font-size: 1.2rem;
    font-weight: var(--bold);

    transform: translateY(30%);
  }
  .engpot-credits {
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 1fr;
    gap: 2%;

    width: 18%;

    margin: 2%;
    padding: 0.4% 0;

    position: absolute;
    top: 0;
    right: 0;

    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 0 4px 2px var(--secondary-color);
  }
  .input-container {
    display: grid;
    grid-template-rows: 1fr 1fr;

    width: 60%;
  }
  .input-container > label {
    font-size: 1.2rem;
  }
  .input-container > input {
    padding: 0 4%;
    border: 1px solid #fff;
    border-radius: 6px;

    background-color: var(--primary-color);
    color: #fffe;

    font-size: 1.2rem;
  }
  .date-time > input {
    text-align: center;
  }
  .input-container > select {
    padding: 0 4%;
    border: 1px solid #fff;
    border-radius: 6px;

    background-color: var(--primary-color);
    color: #fffe;

    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
  }
  .form > button {
    margin-bottom: 2%;
    padding: 0.8% 6%;
  }
}
