.details {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;

    width: 100%;
    height: 100%;

    color: #fffe;
}
.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8%;

    height: 100%;
    width: 90%;

    margin: auto;
    padding: 0 4%;

}
.contacts > div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    height: 60%;

    padding: 0 4%;
}
.contacts > div > div {
    font-size: .7rem;

    transition: all ease .4s;
}
.contacts > div > div:hover {
    transform: scale(1.2);
}
.expertise {
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.expertise > label {
    width: 60%;

    margin: auto;
    border-bottom: 1px solid var(--secondary-color);

    font-size: 1.4rem;

    text-align: center;
}
.expertise-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;

    width: 100%;
    height: 100%;
}
.expertise-details > div {
    display: grid;

    width: 100%;
    height: 100%;

    padding: 0 4%;
}
.expertise-details > div > .title {
    
    margin: auto;
    padding: 0% 8%;
    border-radius: 8px;

    background-color: var(--secondary-color);
    color: var(--primary-color);

    text-align: center;
    font-weight: var(--bold);
}
.expertise-details > div > li {
    padding: 0 4%;

    transform: translateY(20%);

    list-style: disc;
}