.request-password-reset {
    display: grid;
    place-items: center;

    width: 90%;
    height: 60vh;

    margin: auto;

    border: 1px solid #fffe;
    border-radius: 8px;

    background-color: var(--primary-color);
    color: #fffe;

    box-shadow: 0 0 10px 4px #fffe;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    

    z-index: 30;
}
.request-password-reset > div:first-of-type {
    font-size: 1rem;
}
.request-password-reset > div:last-of-type {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    width: 70%;

    transform: translateY(-40%);

}
.request-password-reset > div:last-of-type > label {
    font-size: 1rem;
}
.request-password-reset > div:last-of-type > input {

    padding: 0 4%;
    border: 1px solid #fff;
    border-radius: 6px;

    background-color: var(--primary-color);
    color: #fffe;

    font-size: 1rem;
}
.request-password-reset > button {
    font-size: .8rem;

    padding: 1% 4%;

    transform: translateY(-40%);

}