@media only screen and (min-width: 300px) and (max-width: 480px) {
  .auth-menu {
    display: none;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .auth-menu {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .auth-menu > button {
    display: grid;
    place-items: center;

    width: auto;

    margin: auto;
    padding: 0 8%;

    text-transform: capitalize;
  }
}
