.schedule {
  width: 100%;
  height: 95vh;

  padding: 2% 6%;

  position: relative;
}
.schedule > div:first-of-type {
  width: 100%;
  height: 100%;

  padding: 1%;
}
.day-header * {
  color: #000;
}

/* Header */
.schedule > div > div:first-of-type {
}

/* Body */
.schedule > div > div:last-of-type {
}

/* Table itself */
.schedule > div > div:last-of-type > div > table {
}

/* Day Labels */
.schedule > div > div:last-of-type > div > table > thead > tr > th > div > div {
  overflow: hidden !important;
}

/* Empty Containers Below Day Labels */
.schedule > div > div:last-of-type > div > table > tbody > tr:first-of-type {
  display: none;
}
