.about-engpot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 100%;
    height: 80vh;

    padding: 2% 10%;

    background-color: var(--primary-color);
    color: #fffe;
}
.about-engpot > div:first-of-type {
    grid-column: 1/4;
    grid-row: 1;

    width: 100%;
    
    font-size: 2rem;
    text-align: center;
}
.about-engpot > div:first-of-type > span {
    font-size: inherit;
    color: var(--secondary-color);
}
.about-engpot > div:last-of-type {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 2fr;

    grid-row: 2/4;
    grid-column: 1/3;

    font-size: 1.4rem;
}
.about-engpot > div:last-of-type > div {
    font-size: inherit;
}
.about-engpot > div:last-of-type > button {
    width: 12%;

    font-size: 1.2rem;
}
.about-engpot img {
    grid-column: 2/4;
    grid-row: 1/4;

    width: 100%;
    height: 100%;

    border: 1px solid red;
}