.about-engpot {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;

  width: 100%;
  height: 95vh;

  padding: 2% 10%;

  background-color: var(--primary-color);
  color: #fffe;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;

  width: 100%;
  height: 100%;

  font-size: 1.8rem;
}
.title > span {
  font-size: inherit;
  font-weight: var(--bold);
  text-decoration: underline;
  color: var(--secondary-color);
}
.body {
  display: block;

  padding: 2% 4%;

  position: relative;
}
.body > * {
  text-indent: 1rem;
}
.about-engpot > a {
  display: grid;
  place-items: center;

  width: 100%;
}
.about-engpot > a > button {
  padding: 0.5% 4%;
}

.language-toggler {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 4%;

  width: 10%;

  margin: 2% 4%;
  position: absolute;
  top: 0;
  right: 0;
}
.language-toggler > button {
  width: 100%;
  height: 100%;
}
