@media only screen and (min-width: 300px) and (max-width: 480px) {
  .mode-toggler {
    display: grid;
    place-items: center;

    width: 40%;

    margin: auto;
    border: 2px solid var(--secondary-color);

    background-color: var(--primary-color);
    color: #fffe;
    box-shadow: 0 0 10px 10px var(--primary-color);

    font-size: 1rem;
    font-weight: var(--bold);

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 10;

    transform: translateY(-50%);

    transition: all ease 0.4s;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .mode-toggler {
    display: grid;
    place-items: center;

    width: 8vh;
    height: 8vh;

    margin: 1%;
    border: 6px solid var(--secondary-color);
    border-radius: 50%;

    background-color: var(--primary-color);
    color: #fffe;
    box-shadow: 0 0 10px 10px var(--primary-color);

    font-size: 0.8rem;
    font-weight: var(--bold);

    position: absolute;
    top: 6%;
    left: 2%;

    z-index: 10;

    transition: all ease 0.4s;
    cursor: pointer;
  }
  .mode-toggler:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px 10px var(--secondary-color);
  }
}
