@media only screen and (min-width: 300px) and (max-width: 480px) {
  .welcome {
    display: grid;
    grid-template-rows: 6fr 2fr 1fr;

    width: 100%;
    height: calc(var(--vh, 1vh) * 95);

    background: linear-gradient(#0003, #0003), url("/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1980px) {
  .welcome {
    display: grid;
    grid-template-rows: 6fr 2fr 1fr;

    width: 100%;
    height: calc(var(--vh, 1vh) * 95);

    background: linear-gradient(#0003, #0003), url("/11.jpg");
    /* background-image: url("/11.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
